# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist
build

# Environment
.env

# Editor directories and files
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
